.carrossel {
  width: 600px;
  overflow: hidden;
  position: relative;
}
.carrossell {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carrosselll {
  min-width: 100%;
}
.carrosselll img {
  width: 100%;
  display: block;
}
.carrossel {
  width: 600px;
  overflow: hidden;
  position: relative;
}
.carrossel button {
  position: absolute;
  top: 50%;            
  transform: translateY(-50%); 
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  z-index: 10;          
}
#esquerda {
  left: 0;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 90%;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
#esquerda:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(97, 97, 97, 0.4) 5px 5px, rgba(97, 97, 97, 0.3) 10px 10px, rgba(97, 97, 97, 0.2) 15px 15px, rgba(97, 97, 97, 0.1) 20px 20px, rgba(97, 97, 97, 0.05) 25px 25px;
  /* se n gosto dos box shadow abre o site e ve um melhor ai https://getcssscan.com/css-box-shadow-examples */
}
#direita {
  right: 0;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 90%;
  transition: background 0.5s ease, box-shadow 0.5s ease;
}
#direita:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(97, 97, 97, 0.4) -5px 5px, rgba(97, 97, 97, 0.3) -10px 10px, rgba(97, 97, 97, 0.2) -15px 15px, rgba(97, 97, 97, 0.1) -20px 20px, rgba(97, 97, 97, 0.05) -25px 25px;
}
.carrossel button:hover {
  background: rgba(0, 0, 0, 0.8);
}
