* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
body {
  font-family: Arial, sans-serif;
  background-color: #a5a5a5;
}
li {
  list-style: none;
}
nav {
  background-color: #333;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Logo{
  flex: 1;
}
div.Logo a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
}
nav ul {
  display: flex;
  margin: 0;
  padding: 0;

}
nav ul.Pesquisa {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.Pesquisa {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Pesquisa input {
    padding: 5px;
    height: 35px;
    width: 200px;
    border: none;
    padding-left: 10px;
}

.Pesquisa button {
  padding: 5px 10px;
  cursor: pointer;
  margin-left: 0px;
  border: none;
  height: 35px;
  width: 40px;
}
.Pesquisa img {
  padding: 0px;
  margin-left: 0px;
  width: 18px;
  height: 18px;
}
nav ul.Menu {
  padding: 5px;
  font-size: 10px;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  gap: 20px;

}
.menulat {
  justify-content: center;
  margin-top: 0;
  display: flex;
  gap: 0;
  padding: 0;
}
.menulat2 {
  background: #333;
  width: 180px;
  padding: 20px 0;
  border-bottom: 8px solid #555;
}
.menulat2 ul {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.menulat2 a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  margin: 0 15px;

}
nav ul li {
  margin: 0 15px;
}
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}



.carrossel {
  flex:1;
  width: 600px;
  overflow: hidden;
  position: relative;
  height: 400px;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
}
.carrossell {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carrosselll {
  min-width: 100%;
}
.carrosselll img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  height: 400px;
  width: auto;
  display: block;
  margin: 0 auto;
}
.carrossel {
  flex:1;
  width: 600px;
  overflow: hidden;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
}
.carrossel button {
  position: absolute;
  top: 50%;            
  transform: translateY(-50%); 
  background: rgba(0, 0, 0, 0.5); 
  color: white;
  border: none;
  padding: 15px 10px;
  cursor: pointer;
  z-index: 10;          
}
#esquerda {
  left: 0;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 95%;
  transition: background 0.5s ease, box-shadow 0.5s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#esquerda:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(97, 97, 97, 0.4) 5px 5px, rgba(97, 97, 97, 0.3) 10px 10px, rgba(97, 97, 97, 0.2) 15px 15px, rgba(97, 97, 97, 0.1) 20px 20px, rgba(97, 97, 97, 0.05) 25px 25px;
}
#direita {
  right: 0;
  background: rgba(0, 0, 0, 0);
  box-sizing: border-box;
  height: 95%;
  transition: background 0.5s ease, box-shadow 0.5s ease;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#direita:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: rgba(97, 97, 97, 0.4) -5px 5px, rgba(97, 97, 97, 0.3) -10px 10px, rgba(97, 97, 97, 0.2) -15px 15px, rgba(97, 97, 97, 0.1) -20px 20px, rgba(97, 97, 97, 0.05) -25px 25px;
}
.carrossel button:hover {
  background: rgba(0, 0, 0, 0.8);
}
.novidades {
  margin: 0px;
  padding: 0px;
  background-color: #bebebe;
  border-radius: 8px;
  text-align: center;
  height: fit-content;
  width: 100%;
}
